#########################################################################
#
# Combined with web_server settings in /common/base-configuration to
# define a network information group
#

web_server:
  sorting_groups:
    - id: group_network_info
      name: "Network Information"
      sorting_weight: -10


###########################################################################
# Substitutions
#
substitutions:

# Define the type of ethernet controller on the device
# See: https://esphome.io/components/ethernet.html
# Supported chipsets are: LAN8720, RTL8201, DP83848, IP101, JL1101
#                         KSZ8081, KSZ8081RNA & W5500 (SPI)

   # Configuration entries for RMII chips
  ether_type: "W5500"
   # The CLK pin of the board. Usually this is GPIO43.
  ether_clk_pin: "GPIO43"  
   # The MOSI pin of the board. Usually this is GPIO44.
  ether_mosi_pin: "GPIO44"
   # The MISO pin of the board. Usually this is GPIO42.
  ether_miso_pin: "GPIO42"
     # The CS pin of the board. Usually this is GPIO42.
  ether_cs_pin: "GPIO41"
   # The INTERRUPT pin of the board. Usually this is GPIO2.
  ether_interrupt_pin: "GPIO2"
   # The RESET pin of the board. Usually this is GPIO1.
  ether_reset_pin: "GPIO1"


########################## End of Substitutions #########################
#
# Configuration to add Ethernet network connection to ESP Devices
#

 # Configure the network device
ethernet:
  type: ${ether_type}
  clk_pin: ${ether_clk_pin}
  mosi_pin: ${ether_mosi_pin}
  miso_pin: ${ether_miso_pin}
  cs_pin: ${ether_cs_pin}
  interrupt_pin: ${ether_interrupt_pin}
  reset_pin: ${ether_reset_pin}
  domain: "${dns_domain}"

 # Define a static IP address (optional)
#  manual_ip:
#    static_ip: ${network_ip}
#    gateway: ${network_gateway}
#    subnet: ${network_subnet}
#    dns1: ${dns_server1}
#    dns2: ${dns_server2}

##########################################################################
#
# Sensors - Ethernet Specific
#

text_sensor:
  - platform: ethernet_info
  
    ip_address:
      name: Device IP
      icon: "mdi:ip-network"
#      web_server_sorting_weight: 48
      web_server:
        sorting_group_id: group_network_info
        sorting_weight: 1
#      address_0:
#        name: Device IP 0
#      address_1:
#        name: Device IP Address 1
#      address_2:
#        name: Device IP Address 2
#      address_3:
#        name: Device IP Address 3
#      address_4:
#        name: Device IP Address 4

    mac_address:
      name: MAC Address
      icon: "mdi:network-pos"
      web_server:
        sorting_group_id: group_network_info
        sorting_weight: 2
#      web_server_sorting_weight: 49

    dns_address:
      name: DNS Servers
      icon: "mdi:check-network-outline"
      web_server:
        sorting_group_id: group_network_info
        sorting_weight: 3

##########################################################################
