substitutions:
  # Default name
  name: "athom-smart-plug-v3"
  # Default friendly name  
  friendly_name: "Athom Plug v3"
  # Description as appears in ESPHome & top of webserver page
  device_description: "Athom Plug v3 - Smart Plug (ESP32-C3)"
  # Allows ESP device to be automatically lined to an 'Area' in Home Assistant. Typically used for areas such as 'Lounge Room', 'Kitchen' etc  
  room: ""
  project_name: "Athom Technology.Smart Plug v3"
  # Project version denotes the release version of the yaml file, allowing checking of deployed vs latest version
  project_version: "v1.0.2"
  # The phase in the home power supply, upon which this plug is utilsed. 1p = A. 3p = A, B or C.  (myHome GPO 1 = Phase C, GPO 2 = Phase A, GPO 3 = Phase B)
  power_circuit: "TBC"  
  # Restore the relay (GPO switch) upon reboot to state:
  relay_restore_mode: ALWAYS_ON      # RESTORE_DEFAULT_ON
  sensor_update_interval: 10s
  # Current Limit in Amps. AU Plug = 10. IL, BR, EU, UK, US Plug = 16.
  current_limit : "10"
  # Define a domain for this device to use. i.e. iot.home.lan (so device will appear as athom-smart-plug-v2.iot.home.lan in DNS/DHCP logs)
  dns_domain: ".iot.home.lan"
  # Set timezone of the smart plug. Useful if the plug is in a location different to the HA server. Can be entered in unix Country/Area format (i.e. "Australia/Sydney")
  timezone: "Australia/Sydney"
  # Set the duration between the sntp service polling ntp.org servers for an update
  sntp_update_interval: 6h
  # Network time servers for your region, enter from lowest to highest priority
  sntp_server_1: "2.au.pool.ntp.org"
  sntp_server_2: "1.au.pool.ntp.org"
  sntp_server_3: "0.au.pool.ntp.org"  
  # Enables faster network connections, with last connected SSID being connected to and no full scan for SSID being undertaken
  wifi_fast_connect: "true"

esphome:
  name: "${name}"
  friendly_name: "${friendly_name}"
  comment: "${device_description}"
  area: "${room}"  
  name_add_mac_suffix: true
  # Home Assistant - Minimum version required
  min_version: 2024.2.1
  project:
    name: "${project_name}"
    version: "${project_version}"
  platformio_options:
    board_build.mcu: esp32c3
    board_build.variant: esp32c3
    board_build.flash_mode: dio

esp32:
  board: esp32-c3-devkitm-1
  flash_size: 4MB
  variant: ESP32C3
  framework:
    type: arduino
    version: recommended

preferences:
  flash_write_interval: 5min

api:

ota:

logger:
  level: INFO    # WARN
  baud_rate: 0
  logs:
    component: ERROR # Fix for issue #4717 "Component xxxxxx took a long time for an operation"

mdns:
  disabled: false

web_server:
  port: 80

#network:
#  enable_ipv6: false

wifi:
  # WiFi credentials
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  # Allow rapid re-connection to previously connect WiFi SSID, skipping scan of all SSID
  fast_connect: "${wifi_fast_connect}"
  # Define dns domain / suffix to add to hostname
  domain: "${dns_domain}"
  # This spawns an AP with the device name and mac address with no password.
  ap: {}  

captive_portal:

dashboard_import:
  package_import_url: github://roving-ronin/myHomeAsssint/esphome/athom-smart-plug-v3.yaml
#  package_import_url: github://athom-tech/esp32-configs/athom-smart-plug.yaml

#####################################################################

uart:
  rx_pin: GPIO20
  baud_rate: 4800
  data_bits: 8
  stop_bits: 1
  parity: EVEN

globals:
  - id: total_energy
    type: float
    restore_value: yes
    initial_value: '0.0'

#####################################################################

binary_sensor:
  - platform: status
    name: "Device Status"
    entity_category: diagnostic    

  - platform: gpio
    pin:
      number: GPIO3
      mode: INPUT_PULLUP
      inverted: true
    name: "Power Button"
    disabled_by_default: true
    on_multi_click:
      - timing:
          - ON for at most 1s
          - OFF for at least 0.2s
        then:
          - switch.toggle: relay
      - timing:
          - ON for at least 4s
        then:
          - button.press: Reset

sensor:
  - platform: uptime
    name: "Device Uptime Sensor"
    id: uptime_sensor
    entity_category: diagnostic
    internal: true

  # Reports the WiFi signal strength/RSSI in dB
#  - platform: wifi_signal
#    id: wifi_signal_db
#    name: "WiFi Signal dB"
#    update_interval: 5min
#    entity_category: "diagnostic"
#    internal: true

  # Reports the WiFi signal strength in %
#  - platform: copy
#    source_id: wifi_signal_db
#    name: "WiFi Signal"
#    filters:
#      - lambda: return min(max(2 * (x + 100.0), 0.0), 100.0);
#    unit_of_measurement: "%"
#    entity_category: "diagnostic"    

#####################################################################
#
# Power / Current / Energy monitoring sensors
#
  - platform: cse7766
    current:
      name: "Current"
      id: current
      unit_of_measurement: A
      accuracy_decimals: 2      
      filters:
        - throttle_average: ${sensor_update_interval}
        - lambda: if (x < 0.060) return 0.0; else return x;   #For the chip will report less than 3w power when no load is connected
      on_value_range:
        - above: ${current_limit}
          then:
            - switch.turn_off: relay

    voltage:
      name: "Voltage"
      id:   voltage
      unit_of_measurement: V
      accuracy_decimals: 1            
      filters:
        - throttle_average: ${sensor_update_interval}

    power:
      name: "Active Power"
      id: active_power
      unit_of_measurement: W
      accuracy_decimals: 1         
      filters:
        - throttle_average: ${sensor_update_interval}
        - lambda: if (x < 0.3) return 0.0; else return x;    #For the chip will report less than 3w power when no load is connected
      icon: mdi:power        

    apparent_power:
      name: "Apparent Power"
      unit_of_measurement: VA
      accuracy_decimals: 1         
      filters:
        - throttle_average: ${sensor_update_interval}
      icon: mdi:power        
    
    power_factor:
      name: "Power Factor"
      filters:
        - throttle_average: ${sensor_update_interval}

    energy:
      name: "Energy"
      id: energy
      unit_of_measurement: kWh
      accuracy_decimals: 3      
      filters:
        - throttle: ${sensor_update_interval}
        # Multiplication factor from W to kW is 0.001
        - multiply: 0.001
      on_value:
        then:
          - lambda: |-
              static float previous_energy_value = 0.0;
              float current_energy_value = id(energy).state;
              id(total_energy) += current_energy_value - previous_energy_value;
              previous_energy_value = current_energy_value;
              id(energy_total_sensor).update();

  - platform: template
    name: "Energy Total"
    id: energy_total_sensor
    unit_of_measurement: kWh
    device_class: "energy"
    state_class: "total_increasing"
    icon: "mdi:lightning-bolt"
    accuracy_decimals: 3
    lambda: |-
      return id(total_energy);
   
  - platform: total_daily_energy
    name: "Energy Daily"
    id: energy_total_daily
    restore: true
    power_id: active_power
    unit_of_measurement: kWh
    accuracy_decimals: 3
    filters:
      - multiply: 0.001
    icon: mdi:hours-24      

button:
  - platform: restart
    name: "Restart Device"
    entity_category: config

  - platform: factory_reset
    name: "Reset Device"
    id: Reset
    entity_category: config

  - platform: safe_mode
    name: "Restart Device Safe Mode"
    internal: false
    entity_category: config

switch:
  - platform: gpio
    name: "GPO Switch"
    pin: GPIO5
    id: relay
    restore_mode: ${relay_restore_mode}
    icon: mdi:power-socket-au

light:
  - platform: status_led
    name: "GPO Status LED"
    id: blue_led
    disabled_by_default: true
    pin:
      inverted: true
      number: GPIO6

text_sensor:
  - platform: wifi_info
  #  Creates sensor for tracking the WiFi IP address    
    ip_address:
      name: 'WiFi IP Address'
#      icon: mdi:wifi
      entity_category: diagnostic
      icon: mdi:ip-network-outline

  #  Defines the WiFi SSID network to connect to
    ssid:
      name: 'WiFi SSID'
#      icon: mdi:wifi-strength-2
      entity_category: diagnostic
      icon: mdi:wifi-lock

  #  Creates sensor for tracking the WiFi IP MAC address
    mac_address:
      name: 'WiFi MAC Address'
      entity_category: diagnostic
      icon: mdi:wifi-cog

  #  Creates a sensor showing when the device was last restarted
  - platform: template
    name: 'Device Last Restart'
    id: device_last_restart
    icon: mdi:clock
    entity_category: diagnostic
#    device_class: timestamp

  #  Creates a sensor of the name of installed project
  - platform: template
    name: 'Project Name'
    id: project_name
    icon: "mdi:label-outline"
    entity_category: diagnostic
    lambda: |-
      return {"${project_name}"};
    update_interval: 6h

  #  Creates a sensor of the version of installed project
  - platform: template
    name: 'Project Version'
    id: project_version
    icon: "mdi:label-outline"
    entity_category: diagnostic
    lambda: |-
      return {"${project_version}"};
    update_interval: 6h

  #  Creates a sensor showing power circuit / phase of the device
  - platform: template
    name: 'Power Circuit'
    id: power_circuit
    icon: "mdi:electric-switch"
    entity_category: diagnostic
    lambda: |-
      return {"${power_circuit}"};
    update_interval: 6h
    
  #  Creates a sensor of the uptime of the device, in formatted days, hours, minutes and seconds
  - platform: template
    name: "Device Uptime"
    entity_category: diagnostic
    lambda: |-
      int seconds = (id(uptime_sensor).state);
      int days = seconds / (24 * 3600);
      seconds = seconds % (24 * 3600);
      int hours = seconds / 3600;
      seconds = seconds % 3600;
      int minutes = seconds /  60;
      seconds = seconds % 60;
      if ( days > 3650 ) {
        return { "Starting up" };
      } else if ( days ) {
        return { (String(days) +"d " + String(hours) +"h " + String(minutes) +"m "+ String(seconds) +"s").c_str() };
      } else if ( hours ) {
        return { (String(hours) +"h " + String(minutes) +"m "+ String(seconds) +"s").c_str() };
      } else if ( minutes ) {
        return { (String(minutes) +"m "+ String(seconds) +"s").c_str() };
      } else {
        return { (String(seconds) +"s").c_str() };
      }
    icon: mdi:clock-start

time:
  - platform: sntp
    id: sntp_time
  # Define the timezone of the device
    timezone: "${timezone}"
  # Change sync interval from default 5min to 6 hours
    update_interval: "${sntp_update_interval}"
  # Set specific sntp servers to use
    servers: 
      - "${sntp_server_1}"
      - "${sntp_server_2}"
      - "${sntp_server_3}"    
  # Publish the time the device was last restarted
    on_time_sync:
      then:
        # Update last restart time, but only once.
        - if:
            condition:
              lambda: 'return id(device_last_restart).state == "";'
            then:
              - text_sensor.template.publish:
                  id: device_last_restart
                  state: !lambda 'return id(sntp_time).now().strftime("%a %d %b %Y - %I:%M:%S %p");'
